/* css da maratonadev */

/* ALINHAMENTOS . ESPAÇAMENTOS. LARGURAS E ALTURAS */
html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#fffffeee;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    text-align: center;
}

.donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

header,
.form,
main {
    /* espaçamentos com margin */
    margin-bottom: 70px;
    /* limites dos elementos na página */
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: auto;
    padding-bottom: 16px;
    border: 1px solid gray;
}

header h1,
main h2 {
    margin-bottom: 70px;
}
.logo{
    width: 125px;
    margin: 70px 0px;
}
form input,
form button {
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    border: 1px white solid;

}

form input {
    background-color: transparent;
}

form input::placeholder {
    color: #fffffeee;
    font-weight: bold;
}

form button {
    color: black;
    font-weight: bold;
}

header button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #0c4da2;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 16px;
    cursor: pointer;

}

.form h2 {
    text-align: right;
    margin-right: 50px;
    color: #fffffeee;
    font-size: 18px;
    visibility: hidden;
}
main h2 span{
    color: #0c4da2;
}
h1, h2{
    color: #000000cc;
}
.donor p{
    margin-top: 24px;
    font-size: 14px;
}
.blood{
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
blood::before{
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}
/* JAVASCRIPT */
section.form.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}
section.form{
    transition: all 450ms;
}
.form{
    background: url(img/Samsung-Galaxy-S20-1024x576.jpg);
    background-size: cover;
    background-position-y: center;
}
#numberCountdown {
    font-size: 30px;
}